body {
  background: linear-gradient(to right, #cdffd8, #94b9ff);
}
#main {
  background-color: #fffdf3;
}

a {
  text-decoration: none;
  color: black;
}

.carousel a {
  color: #fffdf3;
}

.card:hover {
  background-color: black;
  color: white;
}
.card a:hover {
  color: white;
}

.undecor {
  text-decoration: none;
  height: 30px;
  width: 100%;
  /* background-color: rgb(150, 100, 50); */
  background-color: #fffdf3;
  /* float: left; */
  padding: 6px;
  margin: 3px 0px;
  font-size: 16px;
  border: none;
  /* font-family: 'Courier New', Courier, monospace; */
}
